footer {
    height: 123px;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
  
    .fa-solid {
      rotate: 45deg;
    }
  
    .fa-brands, .fa-solid {
      color: #E27866;
    }

    .fa-brands:hover {
      cursor: pointer;
    }

    .fa-solid:hover {
      cursor: pointer;
    }
  
    .footer-left {
      display: flex;
      gap: 100px;
    }
  
    .footer-right {
      color: white;
      opacity: 50%;
      font-size: 18px;
    }  
  }