// Header and nav
@media (max-width: 768px){
    header {
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        height: 170px;
        padding: 20px;

        .calls {
            flex-direction: column;
        }
    }

    nav {
        .links {
            display: none;
        }
    }
}