// NAV
@media (max-width: 768px){
    #burger {
        display: block;
        position: absolute;
        right: 20px;
        font-size: 1.2em;
        bottom: 27%;
    }
  
    .logo {
      display: none;
    }
  
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        height: auto;
    }
  
    nav .links .link {
        display: none;
    }
  }

// SECTIONS
@media (max-width: 768px){
    .section1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        padding-top: 0;
        padding-left: 20px;

        
        .section1-left {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .button1 {
                width: 125px;
            }

            #divider-small {
                display: none;
              }

            h1 {
                text-align: center;
                font-size: 1.3em;
                padding-bottom: 10px;
            }

            p {
                font-size: 0.8em;
                width: 400px;
                text-align: justify;
            }
        }

        .section1-right {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // margin-left: 70px;
            height: 400px;
            
            
            .container {
                margin: 0;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                height: 340px;

                .input_field {
                    height: 50px;
                    padding-bottom: 0px;
                    padding-top: 0px;
                }
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;

        .section2-left {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            
            p, h3 {
                margin: 0;
            }

            h3 {
                font-size: 1em;
            }

            p {
                font-size: 0.7em;
            }
        }

        .section2-right {
            display: flex;
            gap: 15px;
            margin: 0;

            .fa-solid {
                width: 50%;
                height: auto;
            }
        }
    }

    .section3 {

        .section3-left {

            display: flex;
            flex-direction: row;
            gap: 30px;
            margin: 0;
            padding: 0;
            width: 100%;

            .blocks {
                margin: 0;
                margin-left: 30px;
            }

            .text {

                padding: 0;
                padding-right: 30px;

                h1 {
                    font-size: 1em;
                }
    
                p {
                    font-size: 0.7em;
                }

            }


        }

        .section3-right {
            display: none;
        }
    }

    .section4 {

        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        .section4-left {
            display: none;
        }

        .section4-right {
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-left: 20px;
            padding-top: 20px;

            h1 {
                padding: 0;
            }


        }
    }

    .section5 {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        .section5-top {

            padding-bottom: 50px;

            h1 {
                font-size: 1.2em;
                padding-bottom: 10px;
            }
            p {
                font-size: 0.8em;
            }
        }

        .section5-bottom {
            display: flex;
            margin: 0;
            padding: 0;

            .awesome {
                display: flex;
                text-align: center;

                h4 {
                    font-size: 1em;
                }

                p {
                    font-size: 0.7em;
                }
            }
        }
    }

    .section6 {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;

        .pricingp {
            padding: 0;
            margin: 0;
            font-size: 0.9em;
            padding-bottom: 10px;
        }

        .h1main {
            font-size: 1.2em;
        }

        .containers {
            display: flex;
            flex-direction: column;

            h3 {
                height: 30px;
                font-size: 0.8em;
            }

            h1 {
                height: 50px;
                padding-top: 10px;
                font-size: 1.5em;

                .dollar, .dollar2 {
                    font-size: 1em;
                    padding-bottom: 10px;
                }
            }

            h4 {
                height: 30px;
                font-size: 0.9em;
            }

            ul {
                
                li {
                    font-size: 0.7em;
                    height: 20px;
                }
            }
        }
    }

    .section7 {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        h1 {
            margin: 0;
            padding: 0;
            font-size: 1em;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .swiper {
            max-width: 400px;

            .swiper-slide {
                max-width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin: 0;
                    padding: 10px 10px;
                }

                .phototext {
                    margin: 0;
                    padding: 0;
                    padding-top: 40px;
                    padding-right: 80px;
                }
            }
        }
    }
}

// FOOTER
@media (max-width: 768px){
    footer {
        display: flex;
        margin: 0;
        padding: 0;

        .footer-left {
            margin: 0;
            padding: 0;
            padding-left: 15px;
            gap: 10px;
        }

        .footer-right {
            margin: 0;
            padding: 0;
            padding-right: 15px;
            font-size: 1em;
        }

    }
}